@model Barbie.Core.Barbiee 

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-controller="Barbie" asp-action="Edit" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Редагувати категорію</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Назва</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Опис</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="input-group mb-3">
            <input asp-for="ImgFile" type="file" class="form-control">
        </div>
        <div class="input-group mb-3" style="margin-top:1%">
            <label class="input-group-text">Категорія</label>
            <select class="form-select" asp-for="CategoryID" name="CategoryID">
                @foreach  (var c in ViewBag.Categories)
                {
                    <option value="@c.Id">@c.CategoryName</option>
                }
            </select>            
        </div>
        <div class="form-group">
            <input asp-for="Username" class="form-control" type="hidden" value="@User.Identity.Name.ToString()" />
        </div>
        <button class="btn btn-primary" type="submit" style="width:150px">Зберегти</button>
        <a asp-controller="Barbie" asp-action="Index" class="btn btn-secondary" style="width:250px">
            Назад до Каталогу
        </a>
    </div>
</form>