@model Barbie.Core.Category 

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-controller="Category" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Редагувати категорію</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Назва</label>
            <input asp-for="CategoryName" class="form-control" />
        </div>
        <div class="form-group">
            <input asp-for="Username" class="form-control" type="hidden" value="@User.Identity.Name.ToString()" />
        </div> 
        <button class="btn btn-primary" type="submit" style="width:150px">Зберегти</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:250px">
            Назад до Каталогу
        </a>
    </div>
</form>